{{!-- <h1>About</h1> --}}

<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod harum unde magnam eaque dolorum impedit vero laborum quidem suscipit sed error incidunt et in quae hic, fugiat provident distinctio. Dolorem?</p>
    </div>
</section>