    <div class="jumbotron mt4">
            <h1 class="display-4">Notes app + MongoDB</h1>
            <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque, eaque non beatae modi ipsum minima aliquid quis consectetur, tempora neque dolorem eveniet asperiores? Ducimus nemo nisi similique maiores reprehenderit minus!</p>
            <hr class="my-4">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, quo hic repellat fugit itaque aperiam voluptatem delectus voluptatibus maiores facilis porro veniam totam aspernatur mollitia et cum fuga, perspiciatis consectetur.</p>
            <a href="/users/login" class="btn btn-primary">Fazer Login para visualizar as notas</a>
    </div>