    <div class="jumbotron mt4">
            <h1 class="display-4">Notes app</h1>
            <p class="lead">Uma ferramenta para criação de notas</p>
            <hr class="my-4">
            <p>O aplicativo de criação e edição de notas é uma ferramenta digital que permite aos usuários criar, armazenar e gerenciar
        notas de forma eficiente e organizada. Com esse aplicativo, os usuários podem escrever e salvar notas em um formato
        digital, o que significa que suas notas estarão acessíveis em qualquer lugar e a qualquer momento.</p>
            <a href="/users/signup" class="btn btn-primary">Registre-se e faça Login para visualizar as notas</a>
    </div>